<div class="reset-password-container">
  <img src="assets/images/forgot.png" alt="Angular Image" class="forgot-image">
  <h2>Reset Password</h2>
  <form (ngSubmit)="resetPassword()">
    <mat-form-field appearance="outline">
      <mat-icon matPrefix>vpn_key</mat-icon>
      <mat-label>New Password</mat-label>
      <input matInput type="password" placeholder="Enter New Password" [(ngModel)]="newPassword" name="newPassword" #newPasswordField="ngModel" required>
      <mat-error *ngIf="newPasswordField.invalid && (newPasswordField.dirty || newPasswordField.touched)">
        New Password is required
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-icon matPrefix>check</mat-icon>
      <mat-label>Confirm New Password</mat-label>
      <input matInput type="password" placeholder="Confirm New Password" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" #confirmNewPasswordField="ngModel" required>
      <mat-error *ngIf="confirmNewPasswordField.invalid && (confirmNewPasswordField.dirty || confirmNewPasswordField.touched)">
        Please confirm your new password
      </mat-error>
      <mat-error *ngIf="newPassword !== confirmNewPassword && (confirmNewPasswordField.dirty || confirmNewPasswordField.touched)">
        Passwords do not match
      </mat-error>
    </mat-form-field>
    <br>
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="newPassword !== confirmNewPassword">Submit</button>
      <button mat-button color="warn" type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
